{% extends 'admin_base.html' %}
{% load static %}
{% load utils %}

{% block title %}
    <title>BookMyTicket</title>
{% endblock %}



{% block content %}

<h1 class="mt-4">Прожекции</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin">Обобщена информация</a></li>
    <li class="breadcrumb-item active">Прожекции</li>
    <li class="breadcrumb-item"><a href="/admin/createshow">Добави прожекция</a></li>
</ol>

<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Списък прожекции
      

      <a class="btn btn-outline-primary"  href="/admin/createshow" align="right">Добави прожекция</a>
  </div>
  <div class="card-body">
      <table id="datatablesSimple">
          <thead>
              <tr>
                  <th>Филм</th>
                  <th>Час</th>
                  <th>От дата</th>
                  <th>До дата</th>
                  <th>Цена</th>
                  <th>Снимка</th>
                  <th>Действие</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                  <th>Филм</th>
                  <th>Час</th>
                  <th>От дата</th>
                  <th>До дата</th>
                  <th>Цена</th>
                  <th>Снимка</th>
                  <th>Действие</th>
              </tr>
          </tfoot>
          <tbody>

            {% for show in shows %}
                <tr>
                  <td >{{ show.movie }}</td>
                  <td >{{ show.showtime }}</td>
                  <td >{{ show.start_date }}</td>
                  <td >{{ show.end_date }}</td>
                  <td>{{ show.price }}</td>
                  <td ><img src="{{ show.movie.url }}"  style="height:50px;width:40px;"></td>
                  <td>
                      <a class="btn btn-warning" href="/admin/updateshow/{{ show.id }}">Промени</a>
                      <a class="btn btn-danger" href="/admin/deleteshow/{{ show.id }}" >Премахни</a>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>


{% endblock %}
